/*    */
.w3-2019-fiesta{color:#fff;background-color:#DD4132}
.w3-2019-jester-red{color:#fff;background-color:#9E1030}
.w3-2019-turmeric{color:#fff;background-color:#FE840E}
.w3-2019-living-coral{color:#fff;background-color:#FF6F61}
.w3-2019-pink-peacock{color:#fff;background-color:#C62168}
.w3-2019-pepper-stem{color:#fff;background-color:#8D9440}
.w3-2019-aspen-gold{color:#000;background-color:#FFD662}
.w3-2019-princess-blue{color:#fff;background-color:#00539C}
.w3-2019-toffee{color:#fff;background-color:#755139}
.w3-2019-mango-mojito{color:#000;background-color:#D69C2F}
.w3-2019-terrarium-moss{color:#fff;background-color:#616247}
.w3-2019-sweet-lilac{color:#000;background-color:#E8B5CE}
.w3-2019-soybean{color:#000;background-color:#D2C29D}
.w3-2019-eclipse{color:#fff;background-color:#343148}
.w3-2019-sweet-corn{color:#000;background-color:#F0EAD6}
.w3-2019-brown-granite{color:#fff;background-color:#615550}
.w3-2019-chili-pepper{color:#fff;background-color:#9B1B30}
.w3-2019-biking-red{color:#fff;background-color:#77212E}
.w3-2019-creme-de-peche{color:#000;background-color:#F5D6C6}
.w3-2019-peach-pink{color:#fff;background-color:#FA9A85}
.w3-2019-rocky-road{color:#fff;background-color:#5A3E36}
.w3-2019-fruit-dove{color:#fff;background-color:#CE5B78}
.w3-2019-sugar-almond{color:#fff;background-color:#935529}
.w3-2019-dark-cheddar{color:#fff;background-color:#E08119}
.w3-2019-galaxy-blue{color:#fff;background-color:#2A4B7C}
.w3-2019-bluestone{color:#fff;background-color:#577284}
.w3-2019-orange-tiger{color:#fff;background-color:#F96714}
.w3-2019-eden{color:#fff;background-color:#264E36}
.w3-2019-vanilla-custard{color:#000;background-color:#F3E0BE}
.w3-2019-evening-blue{color:#fff;background-color:#2A293E}
.w3-2019-paloma{color:#fff;background-color:#9F9C99}
.w3-2019-guacamole{color:#fff;background-color:#797B3A}
.w3-2019-text-guacamole{color:#797B3A}
/*    */
.w3-2020-classic-blue{color:#fff;background-color:#34568B}
.w3-2020-flame-scarlet{color:#fff;background-color:#CD212A}
.w3-2020-saffron{color:#000;background-color:#FFA500}
.w3-2020-text-saffron{color:#FFA500}
.w3-2020-biscay-green{color:#000;background-color:#56C6A9}
.w3-2020-chive{color:#fff;background-color:#4B5335}
.w3-2020-faded-denim{color:#fff;background-color:#798EA4}
.w3-2020-orange-peel{color:#fff;background-color:#FA7A35}
.w3-2020-mosaic-blue{color:#fff;background-color:#00758F}
.w3-2020-sunlight{color:#000;background-color:#EDD59E}
.w3-2020-coral-pink{color:#000;background-color:#E8A798}
.w3-2020-text-coral-pink{color:#E8A798}
.w3-2020-cinnamon-stick{color:#fff;background-color:#9C4722}
.w3-2020-text-cinnamon-stick{color:#9C4722}
.w3-2020-grape-compote{color:#fff;background-color:#6B5876}
.w3-2020-lark{color:#fff;background-color:#B89B72}
.w3-2020-navy-blazer{color:#fff;background-color:#282D3C}
.w3-2020-brilliant-white{color:#000;background-color:#EDF1FF}
.w3-2020-ash{color:#fff;background-color:#A09998}
.w3-2020-amberglow{color:#fff;background-color:#DC793E}
.w3-2020-samba{color:#fff;background-color:#A2242F}
.w3-2020-sandstone{color:#fff;background-color:#C48A69}
.w3-2020-green-sheen{color:#000;background-color:#D9CE52}
.w3-2020-rose-tan{color:#000;background-color:#D19C97}
.w3-2020-ultramarine-green{color:#fff;background-color:#006B54}
.w3-2020-fired-brick{color:#fff;background-color:#6A2E2A}
.w3-2020-peach-nougat{color:#000;background-color:#E6AF91}
.w3-2020-magenta-purple{color:#fff;background-color:#6C244C}
/*     */
.w3-2021-marigold{color:#fff;background-color:#FDAC53}
.w3-2021-cerulean{color:#000;background-color:#9BB7D4}
.w3-2021-rust{color:#fff;background-color:#B55A30}
.w3-2021-illuminating{color:#000;background-color:#F5DF4D}
.w3-2021-french-blue{color:#fff;background-color:#0072B5}
.w3-2021-text-french-blue{color:#0072B5}
.w3-2021-green-ash{color:#000;background-color:#A0DAA9}
.w3-2021-burnt-coral{color:#fff;background-color:#E9897E}
.w3-2021-mint{color:#fff;background-color:#00A170}
.w3-2021-amethyst-orchid{color:#fff;background-color:#926AA6}
.w3-2021-raspberry-sorbet{color:#fff;background-color:#D2386C}
.w3-2021-bg-raspberry-sorbet{background-color:#D2386C}
.w3-2021-text-raspberry-sorbet{color:#D2386C}
.w3-2021-inkwell{color:#fff;background-color:#363945}
.w3-2021-ultimate-gray{color:#fff;background-color:#939597}
.w3-2021-buttercream{color:#000;background-color:#EFE1CE}
.w3-2021-bg-buttercream{background-color:#EFE1CE}
.w3-2021-desert-mist{color:#000;background-color:#E0B589}
.w3-2021-willow{color:#fff;background-color:#9A8B4F}
